<form method="post" action="{% url 'donor_form' %}">
    {% csrf_token %}

    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required><br><br>

    <label for="address">Address :</label>
    <input type="text" name="address" id="address" required><br><br>

    <label for="age">Age:</label>
    <input type="text" name="age" id="age" required><br><br>

    <label for="blood_grp">Blood Group:</label>
    <input type="text" name="blood_grp" id="blood_grp" required><br><br>

    <label for="organ_name">Organ Name:</label>
    <input type="text" name="organ_name" id="organ_name" required><br><br>

    <label for="city">City:</label>
    <input type="text" name="city" id="city" required><br><br>

    <label for="contact_number">Contact Number:</label>
    <input type="number" name="contact_number" id="contact_number" required><br><br>

    <button type="submit">Submit</button>
</form>
